include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/antiresist_catalog_theme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/antiresist_catalog_theme/migration *.ini *.py *.mako
